.container-404{
	background: white;
	margin: 50px auto;
	width: 50%;
	border:1px solid black;
	border-radius: 10px;
	position: relative;
	height: 200px;
	display: flex;
	flex-flow: column;
}

.container-404 header{
	margin:none;
	padding:none;
	background:  #374b50;
	border-radius: 6px 6px 0 0;
	width: 100%;
	display: block;
	border-bottom:1px solid black;

}

.container-404 section p{
	text-align: center;
	font-size: 24px;
	
}

.container-404 header h4{
	text-align: center;
	color:white;

}