.tab-menu{
    background: #404346;
    display: flex;
}

.tab-actuaciones { 
	background: red;
}

.tabs .tab a, .tabs .tab a.active {
	color: white;
}

.button-nav:hover {
    background: #404346;
    color:#fff;
}

.title-menu-options{
    text-align: center;
    display: block;
    font-weight: 900;
    font-size: 24px;
    color:#000;
}