.navBar{
    height: 41px !important;
    background: #37494f;
    display: flex;

}

.spanNavBar{
	width:auto;
	margin: 0;
}

.logo-navbar{
	width: 150px;
	margin: 5px;
}

.disconnect-icon{
	color:red;
	width: 500px;
	z-index: 9999;
}

.button-home-user{
	display: flex;
	width: auto;
    height: 41px;
    margin: auto 10px;
	right: 0px;
	position: absolute;
}


.button-home-user2{
	display: flex;
	width: 20%;
    height: 41px;
    margin: auto 10px;
	right: 0px;
	position: absolute;
}


.button-home-user-icon {
	color:#fff;
	cursor:pointer;
	transform: translateY(-8px);

}

.button-home-user-text {
	color:#fff;
	cursor:pointer;
	transform: translateY(-10px);
	font-weight: 900;
}

#dropdown_0{
	color:#ff7d36;
	background:#37494f;
	width: auto !important;
	transform: translateY(41px);

}

#dropdown_4{
	color:#ff7d36;
	background:#37494f;
	width: auto !important;
	transform: translateY(41px);

}

.dropdown-content li>a, .dropdown-content li>span {
	color:#fff;
	display: flex;
}

.dropdown-content li>a>i{
	color:#fff;
	margin-right: 5px;
}

.item-button-home-user2 a>i{

	margin: auto 0;

}


.bloque_dropdown{
	display: flex;
}

.link-admin-nav{
	height: 51px;
}