.content{
	height: 100vh;
} 
.containerMain{
	margin: none;
	display: flex;
	flex-flow:row;
    height: 100%;
}

.menu{
	width:0%;
	z-index: 9999;
	background: #404346;
	
}

.mapa{
	width:100%;
}

.footer{
	background: #404346 !important;

}

h3.vcenter {
	margin: 0;
}
h4.vcenter {
	margin: 0;
}